.env

.venv
.pnpm-store

.idea
.vscode
.gemini

repomix.txt
**/__pycache__
node_modules
frontend/node_modules
backend/static
run_pnpm.sh
**/*.duckdb
**/*.db
**/*.csv
**/*.zip
**/*.wal

!sample_data/sample_company_ownership.xlsx
!backend/tests/companies_house_sample_data.csv